:root {
  --color-sidebar: rgb(86, 118, 179);
  --color-textSidebar: white;
}

.Pagination {
  display: flex;
  position: absolute;
  transform: translateX(90%);
  list-style: none;
}

.pageItem {
  text-align: center;
  border-radius: 10px;
  padding: 0;
  margin: 1rem;
}

.Pagination button {
  height: 60px;
  width: 70px;
  color: white;
  border: 3px solid var(--color-sidebar);
  background-color: var(--color-sidebar);
  border-radius: 10px;
  font-size: 2rem;
  margin-top: 30px;
  margin-bottom: 70px;
}

.Pagination button:hover {
  background-color: white;
  color: var(--color-sidebar);
  border: 3px solid var(--color-textSidebar);
  cursor: pointer;
}

.Pagination button.active {
  background-color: white;
  color: var(--color-sidebar);
}
