.landingPage {
  position: inherit;
  text-align: center;
  margin-top: 5rem;
  max-width: 60vmax;
  min-height: 50vmin;
  margin-left: 500px;
  background-color: rgb(162, 207, 250);
  border-radius: 20px;
  filter: drop-shadow(4px 4px 5px black);
}

.landingPage img {
  float: left;
  padding: 6rem 2rem;
  width: 300px;
  height: 300px;
}

.landingPage h1 {
  font-size: 3rem;
  padding: 0 7rem;
  padding-top: 8rem;
}

.landingPage p {
  color: var(--color-textSidebar);
  width: 900px;
  font-weight: 600;
  font-size: 3rem;
  padding: 0 7rem;
  filter: drop-shadow(2px 2px 4px black);
}

@media screen and (max-width: 360px) {
  .landingPage {
    margin: 1rem;
  }

  .landingPage img {
    display: none;
    padding: 1rem 1rem;
    float: none;
    width: 200px;
    height: 200px;
  }

  .landingPage h1 {
    padding: 1rem;
    padding-bottom: 0;
    font-size: 2rem;
  }

  .landingPage p {
    font-size: 1.8rem;
    text-align: center;

    padding: 0;
    padding-bottom: 2rem;
    width: inherit;
  }
}
