.About {
  display: flex;
  padding: 3rem;
  gap: 2rem;
  margin: 200px auto;
  flex-direction: column;
  text-align: center;
  background-color: white;
  max-width: 40vmax;
  min-height: 40vmin;
  border-radius: 20px;
  filter: drop-shadow(4px 4px 5px black);
}

.About h1 {
  padding: 3rem;
}

.About p {
  padding: 3rem;
  font-size: 2rem;
  font-weight: 700;
}
