:root {
  --color-sidebar: rgb(86, 118, 179);
  --color-textSidebar: white;
}

h1 {
  text-align: center;
}

.Popup {
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  padding: 2rem;
  text-align: right;
  border-radius: 20px;
  background-color: white;
  max-width: 60vmin;
  min-height: 5vmax;
  z-index: 100;
  filter: drop-shadow(3px 3px 4px black);
}

.Popup h1 {
  padding: 0 4rem;
}

.CloseBtn {
  scale: 200%;
  height: 30px;
  border: 5px solid var(--color-sidebar);
  border-radius: 15px;
}

.CloseBtn:hover {
  cursor: pointer;
  background-color: var(--color-sidebar);
  color: white;
}

.name {
  height: 30px;
}

.email {
  height: 30px;
}

.contactDiv {
  display: flex;
  padding: 3rem;
  gap: 2rem;
  flex-direction: column;
  text-align: center;
  background-color: white;
  max-width: 60vmax;
  min-height: 40vmin;
  border-radius: 20px;
  filter: drop-shadow(4px 4px 5px black);
  margin: 200px auto;
}

.contactDiv label {
  font-size: 1.2rem;
  font-weight: 500;
}

.submitBtn {
  margin: 0 auto;
  background-color: var(--color-sidebar);
  height: 70px;
  width: 120px;
  border: 2px solid var(--color-sidebar);
  border-radius: 20px;
  font-size: 2rem;
  color: white;
}

.submitBtn:hover {
  background-color: white;
  color: var(--color-sidebar);
  cursor: pointer;
}

.textArea {
  height: 200px;
}

@media screen and (max-width: 1366px) {
  .contactDiv {
    margin: 100px auto;
  }

  .CloseBtn {
    height: 30px;
    width: 30px;
  }
}

@media screen and (max-width: 450px) {
  .contactDiv {
    margin: 2rem;
    padding: 1rem;
  }
}

@media screen and (max-width: 360px) {
  .contactDiv {
    margin: 1.5rem;
    padding: 1rem;
  }
}
