:root {
  --color-sidebar: rgb(86, 118, 179);
  --color-textSidebar: white;
}

.Nav_bar {
  background-color: rgba(255, 255, 255, 0.719);
}

.sections {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 1rem;
}

.logo {
  width: 100px;
  height: 100px;
  /* padding-right: 13%; */
  padding-left: 2%;
  transform: translateY(4px);
}

.logoNombre {
  margin: auto 0;
}

.Cart {
  display: flex;
  height: 50px;
  width: 100px;
  border: none;
  transform: translateY(20px);
  color: var(--color-sidebar);
  background-color: transparent;
}

.Cart:hover {
  cursor: pointer;
}

.ProductCount {
  padding: 4px 8px;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  background-color: red;
  border-radius: 20px;
}

@media screen and (max-width: 1366px) {
  .Cart {
    transform: translateY(26px);
  }

  .ProductCount {
    height: 18px;
  }

  .sections {
    gap: 0;
    padding: 0;
  }

  .logo {
    margin: 1rem 0;
    width: 70px;
    height: 70px;
    padding: 0.5rem;
    padding-left: 3rem;
    padding-right: 0;
    transform: translateY(-4px);
  }

  .logoNombre {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 450px) {
  .Nav_bar {
    padding: 1rem 0;
    text-align: center;
    padding-bottom: 0.5rem;
  }

  .logo {
    width: 150px;
    height: 150px;
    padding: 0;
    margin: 0;
  }

  .logoNombre {
    padding: 1rem 0;
  }

  .sections {
    margin: 0;
    padding: 0;
    display: block;
  }

  .Cart {
    position: fixed;
    position: -webkit-sticky;
    bottom: 10%;
    width: 100px;
    height: 50px;
    border-radius: 30px;
    right: 5%;
    z-index: 100;
  }

  .Cart:active {
    color: white;
  }

  .CartBg {
    padding: 6px 10px;
    background-color: white;
    border-radius: 50px;
    border: 2px solid var(--color-sidebar);
    width: 50px;
    height: 60px;
  }

  .CartBg:active {
    background-color: var(--color-sidebar);
  }
}

@media screen and (max-width: 360px) {
  .Nav_bar {
    padding: 1rem 0;
    text-align: center;
    padding-bottom: 0.5rem;
  }

  .Cart {
    position: fixed;
    position: -webkit-sticky;
    bottom: 10%;
    width: 100px;
    height: 50px;
    border-radius: 30px;
    right: 5%;
    z-index: 100;
  }

  .Cart:active {
    color: white;
  }

  .CartBg {
    padding: 6px 10px;
    background-color: white;
    border-radius: 50px;
    border: 2px solid var(--color-sidebar);
    width: 50px;
    height: 60px;
  }

  .CartBg:active {
    background-color: var(--color-sidebar);
  }

  .logo {
    width: 150px;
    height: 150px;
    padding: 0;
    margin: 0;
  }

  .logoNombre {
    padding: 1rem 0;
  }

  .sections {
    margin: 0;
    padding: 0;
    display: block;
  }
}
