.titles {
  margin: auto 0;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  color: black;
}

.titles:hover {
  cursor: pointer;
  color: rgb(5, 114, 150);
  scale: 110%;
}

@media screen and (max-width: 1366px) {
  .titles {
    font-size: 1.5rem;
    padding: 0 1rem;
  }
}

@media screen and (max-width: 330px) {
  .titles {
    font-size: 1.2rem;
    padding-bottom: 1rem;
  }
}
